In [3]:
import pandas as pd
from pandas import Series,DataFrame

In [4]:
# access gdp file
gdp_dataframe = pd.read_csv('GDP_world_data.csv',skiprows=4 ,on_bad_lines = 'warn')

In [5]:
gdp_columns = ['Country Name', 'Indicator Name', '2019','2020','2021','2022']

In [6]:
only_us_gdp_df = gdp_dataframe[gdp_dataframe['Country Name'] == 'United States']
only_us_gdp_df

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,Unnamed: 68
251,United States,USA,GDP (current US$),NY.GDP.MKTP.CD,5.433000e+11,5.633000e+11,6.051000e+11,6.386000e+11,6.858000e+11,7.437000e+11,...,1.820602e+13,1.869511e+13,1.947734e+13,2.053306e+13,2.138098e+13,2.106047e+13,2.331508e+13,2.543970e+13,NaN,NaN

In [7]:
gdp_filtered_for_US = only_us_gdp_df[gdp_columns]
gdp_filtered_for_US

,Country Name,Indicator Name,2019,2020,2021,2022
251,United States,GDP (current US$),2.138098e+13,2.106047e+13,2.331508e+13,2.543970e+13

In [8]:
gdp_filtered_for_US.to_csv('United_States_covid_gdp.csv', index=False)